html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-image: rgb(255, 255, 255);
    background-image: url('background/cyberport.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}
